{% extends "base.html" %}
{% block content %}
<div>
    <form method="post">
        {% include "form_errors.html" %}
        {{ form.csrf_token }}
        <div>
            <label for="username">username</label>
            <input type="text" name="username" id="username" 
                value="{{ form.username.data or '' }}">
        </div>

        <div>
            <label for="password1">password_1</label>
            <input type="password" name="password1" id="password1"
                value="{{ form.password1.data or '' }}">
        </div>

        <div>
            <label for="password2">password_2</label>
            <input type="password" name="password2" id="password2"
                value="{{ form.password2.data or '' }}">
        </div>

        <div>
            <label for="email">email</label>
            <input type="text" name="email" id="email"
                   value="{{ form.email.data or '' }}">
        </div>

        <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}